@model SweetRong2.Domain.User

@{
    ViewBag.Title = "Login";
}

<h2>SweetRong2 Sys</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Login</legend>

        @Html.HiddenFor(model => model.UId)

        <div class="editor-label">
            @Html.LabelFor(model => model.UName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UName)
            @Html.ValidationMessageFor(model => model.UName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UPwd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UPwd)
            @Html.ValidationMessageFor(model => model.UPwd)
        </div>

        <div class="editor-label">
            验证码
        </div>

        <div class="editor-field">
            <input type="text" class="TxtPasswordCssClass" id="Code" name="Code">
            <img src="/Account/CheckCode?ID=1" id="imgCode" alt="单击可刷新" onclick="ClickRemoveChangeCode()" />
        </div>
        <p>
            <input type="submit" value="Login" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    function ClickRemoveChangeCode() {
        var src = $("#imgCode").attr("src");
        $("#imgCode").attr("src", src + 1);
    }
</script>