@model SweetRong2.Domain.User

@{
    ViewBag.Title = "Login";
}

<h2>SweetRong2 Sys</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Login</legend>

        @Html.HiddenFor(model => model.UId)

        <div class="editor-label">
            @Html.LabelFor(model => model.UName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UName)
            @Html.ValidationMessageFor(model => model.UName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UPwd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UPwd)
            @Html.ValidationMessageFor(model => model.UPwd)
        </div>
        <p>
            <input type="submit" value="Login" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
